
Library/EditorInstance.json
Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Temp/UnityLockfile
Temp/UnityTempFile-bad2e1b6ba4e13c4bb3d36a162f26096
.vs/JooTam/v15/.suo
.vs/JooTam/v15/Server/sqlite3/db.lock
.vs/JooTam/v15/Server/sqlite3/storage.ide
.vs/JooTam/v15/Server/sqlite3/storage.ide-shm
.vs/JooTam/v15/Server/sqlite3/storage.ide-wal
JooTam.csproj
JooTam.csproj
JooTam.Editor.csproj
